extends header

block #content
  .pagecontent.home
    h1 Get Free Stock Quotes
    form(method='post')
      input(type='text', name='stockName', placeholder='Enter stock symbol here')
      button(type='submit' class='btn btn-primary') Get Info
